.main-log * {
    font-family: montserrat;
}

.container {
    max-width: 1300px;
}

.banner__log-mask-wrapper {
    position: absolute;
    top: 0;
    z-index: 2;
    background: #fff;
    opacity: 1;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner__log-mask-title {
    height: 100%;
    text-align: center;
    display: inline-block;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-position: 50%;
    background-repeat: no-repeat;
    line-height: 100vh;
    letter-spacing: -.03em;
    font-weight: 700;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    font-family: montserrat;

    font-size: 320px;
    background-image: url(/log/media/video/log-banner-preview.jpeg);
    background-size: 1425px 802px;
    will-change: font-size, line-height;
    line-height: 442px;
    display: flex;
    align-items: center;
}

.banner__log-wrapper {
    height: 2000px;
}

.banner__log-sticky {
    position: sticky;
    top: 0;
    overflow: hidden;
}

.banner__log-mask-container {
    transition: all 0.3s ease 0s;
}

.banner__log-section {
    position: relative;
}

.banner__log_video-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 41.6px;
    color: #fff;
}

.banner__log_video-text {
    font-weight: 400;
    font-size: 24;
    line-height: 31.2px;
    color: #fff;
}

.banner__log_video-text-wrap {
    position: absolute;
    top: 0; bottom: 0;
    text-align: center;
    width: 100%;
    margin: auto;
    height: fit-content;

    transition: all 0.3s ease 0s;
    opacity: 0;
    visibility: hidden;
}

/* log animation blocks */
.log_block_wrap {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
}

.log_block_wrap img {
    width: 100%;
}

.about__log-section {
    height: 5000px;
}

.about__log-wrapper {
    position: sticky;
    top: 0;
    /* padding-top: 140px; */
    margin-top: 140px;
}

.about_log_first-title,
.about__log_animation-title {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #000;
}

.about_log_first-desc,
.about__log_animation-desc {
    font-weight: 400;
    font-size: 22px;
    line-height: 39.6px;
    color: #000;
    margin-top: 32px;
}

.about_log_first-item {
    max-width: 530px;
    width: 100%;
    position: absolute;
    transition: all 0.3s ease 0s;
}

.about__log_block {
    position: relative;
    padding: 70px 0;
    overflow: hidden;
}

.about_log_first_left-text {
    top: 0;
    left: 0;
}

.about_log_first_right-text {
    right: 0;
    bottom: 0;
}

.about_log_first_left-text .about_log_first-desc {
    max-width: 420px;
    width: 100%;
}

#about__log_animation-1 .about_log_first-item {
    opacity: 0;
    visibility: hidden;
}

#about__log_animation-1.active .about_log_first-item {
    opacity: 1;
    visibility: visible;
}

.about__log_animation-title,
.about__log_animation-desc {
    text-align: center;
}

.about__log_animation.p-absolute-bottom {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    overflow: hidden;
}

.about__log_animation {
    transition: all 1s ease 0s;
}

.about__log_animation.text-hidden {
    /* transform: translate3d(0px, 190px, 0px); */
    opacity: 0;
    visibility: hidden;
}

.about__log_animation.text-hidden.active {
    /* transform: translate3d(0px, 0px, 0px); */
    opacity: 1;
    visibility: visible;
}

#about__log_animation-2,
#about__log_animation-3,
#about__log_animation-4 {
    bottom: 60px;
}

/* advantages */
.log__advantages-row {
    display: grid;
    grid-gap: 80px 20px;
    grid-template-columns: repeat(2, 1fr);
}

.log__advantages-card-body {
    width: fit-content;
    margin: 0 auto;
}

.log_advantage-icon img {
    max-width: 128px; max-height: 128px;
    width: 100%; height: 100%;
    display: block;
    margin: 0 auto;
}

.log_advantage-title {
    font-weight: 400;
    font-size: 22px;
    line-height: 39.6px;
    color: #000;
    text-align: center;
    margin-top: 16px;
}

.log_advantage-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 28.8px;
    color: #000;
    text-align: center;
    margin-top: 16px;
}

.log__advantages-section {
    background: #fff;
    padding: 60px 0px;
}

/* log sound */
.log__sound-section {
    background: #F0F0F0;
    padding: 120px;
}

.log__sound-title {
    font-weight: 400;
    font-size: 97px;
    line-height: 97px;
    color: #000;
}

.log__sound-row {
    margin-top: 150px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.log__sound-img-wrap {
    background: #DBDBDB;
    /* max-width: 638px;
    width: 100%; */
}

.log__sound-img-wrap img {
    width: 100%;
}

.log__sound-col:nth-child(1) {
    margin-right: 30px;
    width: 60%;
    max-width: 638px;
}

.log__sound-col:nth-child(2) {
    width: 40%;
}

.log__sound-desc,
.log__sound-desc p {
    font-weight: 400;
    font-size: 22px;
    line-height: 39.6px;
    color: #000;
}

.log__sound-desc * {
    margin-top: 16px;
}

.log__sound-desc *:first-child {
    margin-top: 0;
}

#log_sound_block {
    height: 2000px;
}

.log_sound_sticky {
    position: sticky;
    top: -30%;
}